*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Classes Auxiliares */
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.w50{
    width: 50%;
    float: left;
}

.w33{
    width: 33.3%;
    float: left;
}

.center{text-align: center;}

.clear{clear: both;}

/* Classes do meu site */
header{
    padding:8px 0;
}

.logo{
    float: left;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}

nav.menu-desktop{
    float: right;
}

nav.menu-desktop li.selected{
    font-weight: normal;
    text-decoration: underline;
}

nav.menu-desktop ul{
    position: relative;
    top: 8px;
}

nav.menu-desktop li{
    display: inline-block;
    font-weight: lighter;
    padding:0 10px;
}

nav.menu-desktop a{
    color: black;    
    text-decoration: none;
}

nav.menu-desktop a:hover{text-decoration: underline;}

/* Sessão Main-bg */
section.main-bg{
    position: relative;
    width: 100%;
    /* height: 600px; */
    padding: 140px 0 200px 0;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align:center;
}

section.main-bg .container{
    position: relative;
    z-index: 2;
}

.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.6);
}

section.main-bg h2{
    font-weight: normal;    
    color: #52aaa7;
    font-size: 40px;
}

section.main-bg p{
    text-align: left;
    color: white;
    font-size: 17px;
    margin-top: 15px;
}


/* Sessão diferenciais */

section.diferenciais{
    padding: 30px 0;
    text-align: center;
}

.line-text{
    position: relative;
    display: inline-block;
    color: #52aaa7;
}

.line-text div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background: #52aaa7;
}

.icones-diferenciais{
    margin-top: 35px;
}

.line-text h2{
    font-weight: normal;
    font-size: 27px;
}

.icones-diferenciais{
    margin-top: 35px;
}

.box-icone-single{
    float: left;
    width: 33.3%; 
    margin-bottom: 20px;
    padding: 0 10px;   
}

.box-icone-single h2{
    color: #8a6b62;
    font-size: 40px;
}

.box-icone-single p{
    color: #646464;
    font-weight: lighter;
    font-size: 16px;
}

section.sobre-equipe{
    padding: 30px 0;
    background: rgb(225, 225, 225);
}

section.sobre-equipe .container{
    display: flex;
    flex-wrap: wrap;
}

.equipe-container{
    width: 50%;
}

.sobre-container{
    width: 50%;
}

.sobre-container p{
    color: black;
    font-size: 15px ;
    margin-top: 10px;
}

.img-avatar{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-size: 100% 100%;
    border-radius: 50%;    
}

.desc-avatar{
    padding:10px 10px;
    width: calc(100% - 70px);
    display: inline-block;
}

section.inscriçao{
    background: #52aaa7;
    padding: 20px 0;
}

.insc-texto{
    font-weight: normal;
    color: white;
    
}

.insc-form input[type=text]{
    width: calc(100% - 120px);
    height: 40px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    color: #414040;
       
}

.insc-form input[type=submit]{
    width: 120px;
    height: 40px;
    background: #1d6c64;
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

section.cards{
    padding: 30px 0;
}

.card-single{
    width: 33.3%;
    float: left;
    padding: 50px;
}

.card-single img{
    width: 100%;
}

.card-single h3{
    margin-top: 5px;
    font-weight: normal;
    font-size: 19px;
}

.card-single p{
    margin: 10px 0;
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

footer.footer1{
    text-align: center;
    background: #52aaa7;
    padding: 20px 0;
    color: white;
}

footer.footer1 h2{
    font-weight: normal;
    font-size: 23px;
}

footer.footer1 p{
    margin-top: 8px;
    font-weight: lighter;
    /* margin-left: 115px; */
}

footer.footer1 a{
    padding-top: 8px;
    color: white;
    display: block;
}

footer.footer1 .group-icons a{
    font-size: 23px;
    display: inline-block;
    margin: 0 15px;
}

footer.footer2{
    padding: 15px 0;
    background:#237a70;
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px){

    footer.footer1{text-align: center;}

    .card-single{width: 100%;}

    .w50,.w33{width: 100%; margin-bottom: 20px;}

    .box-icone-single{
        width: 100%;        
    }

    .equipe-container{
        width: 100%;
    }
    
    .sobre-container{
        width: 100%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px){
    .card-single{
        padding: 10px;
    }
}
